[submodule "cperl-mode"]
	path = cperl-mode
	url = git://github.com/jrockway/cperl-mode
[submodule "eproject"]
	path = eproject
	url = git://github.com/jrockway/eproject
[submodule "eslide"]
	path = eslide
	url = git://github.com/jrockway/eslide
[submodule "magit"]
	path = magit
	url = git://gitorious.org/magit/mainline.git
[submodule "slime"]
	path = slime
	url = git://github.com/technomancy/slime.git
[submodule "shellarchive"]
	path = shellarchive
	url = git://repo.or.cz/ShellArchive.git
[submodule "browse-kill-ring"]
	path = browse-kill-ring
	url = git://github.com/emacsmirror/browse-kill-ring.git
[submodule "nopaste"]
	path = nopaste
	url = git://github.com/avar/nopaste.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/irfn/js2-mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
