[submodule "cperl-mode"]
	path = cperl-mode
	url = http://github.com/jrockway/cperl-mode.git
	branch = mx-declare
[submodule "eproject"]
	path = eproject
	url = http://github.com/jrockway/eproject.git
    branch = master
[submodule "eslide"]
	path = eslide
	url = http://github.com/jrockway/eslide.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
	branch = master
[submodule "slime"]
	path = slime
	url = http://github.com/technomancy/slime.git
[submodule "shellarchive"]
	path = shellarchive
	url = http://repo.or.cz/r/ShellArchive.git
[submodule "browse-kill-ring"]
	path = browse-kill-ring
	url = http://github.com/emacsmirror/browse-kill-ring.git
    branch = master
[submodule "nopaste"]
	path = nopaste
	url = http://github.com/avar/nopaste.git
	branch = master
[submodule "clojure-mode"]
	path = clojure-mode
	url = http://github.com/technomancy/clojure-mode.git
	branch = master
[submodule "swank-clojure"]
	path = swank-clojure
	url = http://github.com/jochu/swank-clojure.git
    branch = master
[submodule "markdown-mode"]
	path = markdown-mode
	url = http://github.com/defunkt/markdown-mode.git
    branch = master
[submodule "ibuffer-git"]
	path = ibuffer-git
	url = http://github.com/jrockway/ibuffer-git.git
[submodule "php-mode"]
	path = php-mode
	url = http://github.com/ieure/php-mode-el.git
[submodule "tt-mode"]
	path = tt-mode
	url = http://github.com/davorg/tt-mode.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = http://github.com/hayamiz/twittering-mode.git
	branch = master
[submodule "window-number"]
	path = window-number
	url = http://github.com/emacsmirror/window-number.git
	branch = master
[submodule "xs-mode"]
	path = xs-mode
	url = http://github.com/emacsmirror/xs-mode.git
	branch = master
[submodule "yaml-mode"]
	path = yaml-mode
	url = http://github.com/yoshiki/yaml-mode.git
	branch = master
[submodule "nterm"]
	path = nterm
	url = http://github.com/emacsmirror/nterm.git
	branch = master
[submodule "clojure-contrib"]
	path = clojure-contrib
	url = http://github.com/richhickey/clojure-contrib.git
	branch = master
[submodule "clojure"]
	path = clojure
	url = http://github.com/richhickey/clojure.git
    branch = master
[submodule "emacs_chrome"]
	path = emacs_chrome
	url = http://github.com/stsquad/emacs_chrome.git
    branch = master
[submodule "po-mode"]
	path = po-mode
	url = http://github.com/emacsmirror/po-mode.git
    branch = master
[submodule "git-commit-mode"]
	path = git-commit-mode
	url = http://github.com/rafl/git-commit-mode.git
	branch = master
[submodule "pod-mode"]
	path = pod-mode
	url = http://github.com/renormalist/emacs-pod-mode.git
	branch = master
[submodule "tap-mode"]
	path = tap-mode
	url = http://github.com/renormalist/emacs-tap-mode.git
	branch = master
[submodule "perlmod"]
	path = perlmod
	url = http://github.com/rafl/emacs-perlmod.git
	branch = master
[submodule "clhs"]
	path = clhs
	url = http://github.com/emacsmirror/clhs.git
    branch = master
[submodule "htmlize"]
	path = htmlize
	url = http://github.com/emacsmirror/htmlize.git
    branch = master
[submodule "lua-mode"]
	path = lua-mode
	url = http://github.com/emacsmirror/lua-mode.git
	branch = master
[submodule "visible-mark"]
	path = visible-mark
	url = http://github.com/emacsmirror/visible-mark.git
    branch = master
[submodule "org-mode"]
	path = org-mode
	url = http://github.com/emacsmirror/org.git
	branch = master
[submodule "undo-tree"]
	path = undo-tree
	url = http://github.com/emacsmirror/undo-tree.git
    branch = master
[submodule "puppet-syntax-emacs"]
	path = puppet-syntax-emacs
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
